<h1>Organizations</h1>

<ul>
  <li><%= link_to 'New Organization', new_organization_path %></li>
</ul>

<% @organizations.each do |organization| %>

  <h1><%= link_to organization.title, organization %></h1>
  <h2><%= organization.subtitle %></h2>
  <p><%= organization.description %></p>

  <ul>
    <li><%= link_to 'Edit', edit_organization_path(organization) %></li>
    <li><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>

<% end %>
