<%= render 'header' %>

<ul class="nav nav-tabs">
  <li><%= link_to 'Edit', edit_organization_path(@organization) %></li>
  <li class="active"><%= link_to 'Membership', membership_organization_path(@organization) %></li>
  <li><%= link_to 'Delete', delete_organization_path(@organization) %></li>
</ul>

<div class="row">

  <div class="span6">
    <%= form_for :user, url: add_member_organization_path(@organization), html: { class: "form-horizontal" } do |f| %>
      <div class="control-group">
        <%= f.label :username, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :username %>
          <span class="help-block">Members can edit and delete the organization and add other members, so only add members the organization trusts.</span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Add member", class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span6">
    <h4>
      Current members
    </h4>
    <ul>
    <% @organization.members.each do |member| %>
      <li><%= member.username %></li>
    <% end %>
    </ul>
  </div>

</div>
