<h1><%= link_to @organization.title, @organization %></h1>
<h2><%= @organization.subtitle %></h2>
<p><%= @organization.description %></p>

<ul>
  <li><%= link_to 'Edit', edit_organization_path(@organization) %></li>
  <li><%= link_to 'Back', organizations_path %></li>
</ul>
