<h1><%= link_to @organization.title, @organization %></h1>
<h2><%= @organization.subtitle %></h2>
<h3>
  <% if current_user %>
    <% unless current_user.member_of?(@organization) %>
      <%= link_to 'Join', join_organization_path(@organization), method: :post %>
    <% else %>
      <%= link_to 'Leave', leave_organization_path(@organization), method: :delete %>
    <% end %>
  <% end %>
</h3>
<h3>
  <% if current_user %>
    <% unless current_user.is_watching?(@organization) %>
      <%= link_to 'Watch', watch_organization_path(@organization), method: :post %>
    <% else %>
      <%= link_to 'Unwatch', unwatch_organization_path(@organization), method: :delete %>
    <% end %>
  <% end %>
</h3>
<h3>
  <% if current_user %>
    <% unless current_user.has_starred?(@organization) %>
      <%= link_to 'Star', star_organization_path(@organization), method: :post %>
    <% else %>
      <%= link_to 'Unstar', unstar_organization_path(@organization), method: :delete %>
    <% end %>
  <% end %>
</h3>
<p><%= @organization.description %></p>

<ul>
  <% if @organization.granted?(:update) %>
    <li><%= link_to 'Edit', edit_organization_path(@organization) %></li>
  <% end %>
</ul>
