<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">

    <title><%= content_for?(:title) ? "#{yield(:title)} | Unite" : "Unite" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>

    <%# IE stuff %>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

  </head>

  <body>

    <div id="content">

      <nav>
        <ul id="users" class="nav nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li><%= link_to "Account settings", edit_user_registration_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul id="brand" class="nav nav-pills">
          <li><%= link_to "<b>U</b>".html_safe, root_path %></li>
        </ul>
      </nav>

      <%= bootstrap_flash %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>

</html>
