<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Unite" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag %>
  </head>

  <body>

    <nav>
      <%= link_to "Unite", root_path %>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Account settings", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>

    <!--[if IE]>
      <div class="alert alert-error fade in">
        You are using Internet Explorer.  We recommend using a different browser:
        <%= link_to "Safari", "http://www.apple.com/safari", target: "_blank" %>,
        <%= link_to "Chrome", "http://www.google.com/chrome", target: "_blank" %>,
        <%= link_to "Firefox", "http://www.getfirefox.com/", target: "_blank" %>,
        or
        <%= link_to "Opera", "www.opera.com/", target: "_blank" %>
      </div>
    <![endif]-->

    <%= render 'layouts/flash_messages' %>

    <%= yield %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>

</html>
